@tailwind base;
@tailwind components;
@import 'tailwindcss/utilities';
@import 'core/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@layer utilities {
  *,
  ::before,
  ::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    user-select: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  pre,
  ul,
  ol,
  li,
  table,
  tr,
  th,
  td,
  input,
  textarea,
  span,
  code,
  .selectable {
    user-select: text;
  }

  .unselectable {
    user-select: none;
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}
